In [1]:
import pandas as pd

In [32]:
obj = pd.Series([2, 4, 6, 8, 10])

In [33]:
obj

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [6]:
obj.values

array([ 2,  4,  6,  8, 10])

In [7]:
obj.index

RangeIndex(start=0, stop=5, step=1)

In [8]:
data = {'Ohio': 3500, 'Texas': 7100, 'Oregon': 1600, 'Utah': 5000}

In [9]:
obj2 = pd.Series(data)

In [10]:
obj2

Ohio      3500
Texas     7100
Oregon    1600
Utah      5000
dtype: int64

In [11]:
states = ['California', 'Ohio', 'Oregon', 'Texas']

In [12]:
obj3 = pd.Series(data, index=states)

In [13]:
obj3

California       NaN
Ohio          3500.0
Oregon        1600.0
Texas         7100.0
dtype: float64

In [14]:
pd.isnull(obj3)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [15]:
pd.notnull(obj3)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [34]:
data2 = {'Ohio': 2100, 'Texas': 1800, 'Oregon': 500, 'Utah': 1200}

In [28]:
states2 = ['California', 'Ohio', 'Oregon', 'Texas', 'Utah']

In [37]:
obj5 = pd.Series(data2,index=states2)

In [38]:
obj2

Ohio      3500
Texas     7100
Oregon    1600
Utah      5000
dtype: int64

In [39]:
obj5

California       NaN
Ohio          2100.0
Oregon         500.0
Texas         1800.0
Utah          1200.0
dtype: float64

In [40]:
obj2 + obj5

California       NaN
Ohio          5600.0
Oregon        2100.0
Texas         8900.0
Utah          6200.0
dtype: float64